$white: #ffffff;
$primary: #0066FF;
$lightBlue: #E6F7FF;
$error: #FF4D4F;
$lightRed: #ff7875;
$pink: #FFCCC7;
$lightPink: #FFF1F0;
$smokeWhite: #F5F5F5;
$black: #000000;
$secondary: rgba(0, 0, 0, 0.45);
$darkBlue: #001529;
$disabledColor:#BFBFBF;
$grey: #D9D9D9;
$lightYellow: #FFFBE6;
$yellow: #FFE58F;
$lightOrange: #FFDAB9