$white: #ffffff;
$primary: #FF69B4;
$error: #FF4D4F;
$smokeWhite: #F5F5F5;
$black: #000000;
$secondary: rgba(0, 0, 0, 0.45);
$darkBlue: #001529;
$disabledColor:#BFBFBF;
$grey: #D9D9D9;
$lightPink: #fb9bc6;