.list-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5rem;
    padding: 1rem;

}

.list-items.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  