body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://media.istockphoto.com/id/476247137/photo/white-wooden-plank.jpg?s=2048x2048&w=is&k=20&c=EyR4XvcdgiCw8wbZ1GAoVh434djd28qfajUQdAgLjKc=');
}